@media (max-width: 990px) {
  .navbar {
    gap: 5px;
  }

  /* * {
    border: 1px solid red;
    } */

  .navbar-list {
    position: absolute;
    border: 2px solid var(--bg-white);
    top: 110px;
    width: 90%;
    left: 1%;
    right: 1%;
    border-top: 0;
    flex-direction: column;
    background: linear-gradient(to top, var(--text-blue), var(--text-Black));
    border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    -o-border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 20px 20px;
    display: none;
    z-index: 2;
  }

  .navbar {
    gap: 25px;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    padding-top: 15px;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }

  .cart-img {
    max-width: 50px;
    max-height: 50px;
  }

  .cart-item {
    min-width: 300px;
  }

  /*################### HOME #####################*/

  .Container {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .item,
  .item2 {
    width: 90%;
  }

  .item {
    margin-top: 250px;
  }

  .item2 a {
    flex-wrap: wrap;
    margin-bottom: 10%;
  }

  .item2 p {
    display: none;
  }

  /*################### Products #####################*/

  .categories {
    flex-wrap: wrap;
    max-width: 390px;
  }

  .category {
    width: 120px;
  }

  .product-mid h3 {
    font-size: 16px;
  }

  /*################### Empresa #####################*/

  .Enterprise {
    max-width: 90%;
    justify-content: space-around;
  }

  .Enterprise-item,
  .Enterprise-item2 {
    max-width: 50%;
  }

  .Enterprise-item2 {
    justify-content: flex-start;
  }
  .Enterprise-item2 p {
    display: none;
  }
  .Compra_Venta {
    width: 300px;
  }

  .Enterprise-item2 h5 {
    font-size: 24px;
    max-width: 100px;
  }

  .Enterprise-item2 a {
    align-items: center;
    font-size: 12px;
  }

  /*################### Footer #####################*/
  #footer {
    width: 90%;
  }

  #footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-nav {
    margin-left: 0px;
  }

  .redes {
    text-align: center;
    align-items: center;
  }

  .redes p,
  .redes span {
    font-size: 12px;
  }

  footer p,
  .footer-nav p,
  .footer-links,
  .footer-links a,
  .footer-links span {
    font-size: 12px;
    font-weight: 500;
  }
}

/* **************************************************************** */
@media (max-width: 580px) {
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .cart-item {
    flex-wrap: wrap;
  }

  .item,
  .item2 {
    justify-content: center;
    max-width: 300px;
    margin-bottom: 150px;
  }

  .item h1,
  .item h2 {
    font-size: 32px;
  }

  #Products h3 {
    font-size: 32px;
  }

  #Products h3 {
    font-size: 24px;
    max-width: 300px;
    text-align: center;
  }

  .btn-more {
    font-size: 12px;
    max-width: 40%;
  }

  /*################### Empresa #####################*/

  .Enterprise {
    display: flex;
    justify-content: center;
    max-width: 340px;
    margin-left: 0;
  }
  #Empresas h3 {
    font-size: 18px;
  }

  .Enterprise-item {
    max-width: 150px;
  }

  .Compra_Venta {
    width: 150px;
  }

  .Enterprise-item2 {
    min-width: 100px;
    justify-content: center;
    width: fit-content;
  }

  .Enterprise-item2 h5 {
    font-size: 14px;
    text-align: center;
    min-width: 120px;
  }

  .Enterprise-item2 a {
    text-align: center;
    font-size: 12px;
    max-width: fit-content;
  }

  /*################### Footer #####################*/
  footer {
    padding-top: 10px;
  }

  .red-icon {
    display: none;
  }

  #footer-items {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }

  .footer-links,
  .footer-links a,
  .footer-links span {
    font-size: 16px;
    line-height: 1.6em;
  }

  .redes,
  .redes span,
  .redes p {
    line-height: 1em;
  }

  footer p {
    text-align: center;
    font-size: 12px;
  }
}
