@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Open+Sans:ital,wght@1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", Caveat;
}

:root {
  /* bg colors */
  --background: #549cd0;
  --primary: #fbd9d0;
  --secondary: #ec2476;
  --btn-bg: #fcd00a;
  --bg-azul-10: #e9eeff;

  /* Text colors */
  --text-Black: #2e292c;
  --text-red: #ec2476;
  --text-blue: #549cd0;
  --text-white: #fff;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0px 30px 0px 30px;
  margin: 0 auto;
  z-index: 4;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.75)
    ),
    url("../Registro/Assets/Salsa3.jpg");
  background-size: cover, no-repeat;
  background-position: top;
  gap: 20px;
}

.logo {
  height: 120px;
  width: 120px;
}

body {
  font-family: "Open Sans";
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.75)
    ),
    url("./Assets/Concert.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, var(--primary), var(--bg-azul-10));
  max-width: 350px;
  margin: auto;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
  margin-top: 140px;
}

.form-title {
  font-size: 20px;
  font-weight: 800;
  background: linear-gradient(to bottom, #fccc06, #ed1e79);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.Form-top {
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.Icon {
  width: 150px;
  height: 150px;
}

.Form-mid {
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.Form-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 10px 0;
  width: 90%;
}

.form-input {
  width: 100%;
  background: var(--primary);
  color: var(--text-Black);
  padding: 5px 5px;
  font-size: 16px;
  border-radius: 8px;
  font-family: "Open sans", Caveat;
  cursor: pointer;
}

.form-label {
  color: var(--text-Black);
  font-weight: 800;
  font-size: 18px;
  text-align: start;
}

.Form-bottom a {
  text-align: center;
  width: 100%;
  background: var(--fire);
  color: var(--text-Black);
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.Form-bottom a:hover {
  background: var(--electric);
}

.form-login a {
  color: var(--text-red);
}

.form-field.error input {
  border: 2px solid crimson;
}

.form-field.success input {
  border: 2px solid green;
}
.msg {
  color: var(--text-Black);
}
